In [30]:
import pandas as pd
import polars as pl
import numpy as np
import matplotlib.pyplot as plt
import sqlite3
import mysql.connector
from bs4 import BeautifulSoup
import glob
import requests
from datetime import datetime

In [14]:
!pip install html5lib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: html5lib in c:\users\kammi\appdata\roaming\python\python39\site-packages (1.1)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from html5lib) (1.16.0)

# Extracting information from url

In [21]:
def extract(url, table_attribs):
    page = requests.get(url).text
    data = BeautifulSoup(page, 'html.parser')
    df = pd.DataFrame(columns = ["table_attribs"])
    tables = data.find_all('tbody')
    rows = tables[2].find_all('tr')

    for row in rows:
        col = row.find_all('td')
        if len(col)!=0:
            if col[0].find('a') is not None and '-' not in col[2]:
                data_dict = {"Country": col[0].a.contents[0],
                         "GDP_USD_millions": col[2].contents[0]}
                df1 = pd.DataFrame(data_dict, index = [0])
                df = pd.concat([df, df1], ignore_index = True)
    return df

# Transform function to convert millions to billions

In [63]:
def transform(df):
    df = df[df['GDP_USD_millions'] != '—'].reset_index(drop=True).drop(['table_attribs'], axis=1)
    GDP_list = df["GDP_USD_millions"].tolist()
    GDP_list = [float("".join(x.split(','))) for x in GDP_list]
    GDP_list = [np.round(x/1000,2) for x in GDP_list]
    df=df.rename(columns = {"GDP_USD_millions":"GDP_USD_billions"})
    return df

# Save to CSV

In [55]:
def load_to_csv(df, csv_path):
    df.to_csv(csv_path)

# load to database

In [135]:
def load_to_db(df, sql_connection, table_name):
    df.to_sql(table_name, sql_connection, if_exists='replace', index=False)

# Querying the database table

In [25]:
def run_query(query_statement, sql_connection):
    print(query_statement)
    query_output = pd.read_sql(query_statement, sql_connection)
    print(query_output)

# Logging progress

In [57]:
def log_progress(message): 
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second 
    now = datetime.now() # get current timestamp 
    timestamp = now.strftime(timestamp_format) 
    with open("C:/Users/kammi/Downloads/Countries_by_GDP/etl_project_log.txt","a") as f: 
        f.write(timestamp + ' : ' + message + '\n')

# Establishing connection to mysql database

In [137]:
import pymysql
from sqlalchemy import create_engine

In [90]:
pip install mysqlclient

Defaulting to user installation because normal site-packages is not writeable
Collecting mysqlclient
  Downloading mysqlclient-2.2.1-cp39-cp39-win_amd64.whl (202 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.1
Note: you may need to restart the kernel to use updated packages.

# Function Calls

In [132]:
url = 'https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29'
table_attribs = ["Country", "GDP_USD_millions"]
db_name = 'train'
table_name = 'countries_by_gdp'
csv_path = 'C:/Users/kammi/Downloads/Countries_by_GDP/Countries_by_GDP.csv'

In [138]:
log_progress('Preliminaries complete. Initiating ETL process')

df = extract(url, table_attribs)

log_progress('Data extraction complete. Initiating Transformation process')

df = transform(df)

log_progress('Data transformation complete. Initiating loading process')

load_to_csv(df, csv_path)

log_progress('Data saved to CSV file')

sql_connection = create_engine('mysql+pymysql://root:12345678@localhost:3306/train')

log_progress('SQL Connection initiated.')

load_to_db(df, sql_connection, table_name)

log_progress('Data loaded to Database as table. Running the query')

query_statement = f"SELECT * from {table_name} WHERE GDP_USD_billions >= 100"

run_query(query_statement, sql_connection)

log_progress('Process Complete.')

sql_connection.dispose()

SELECT * from countries_by_gdp WHERE GDP_USD_billions >= 100
                  Country GDP_USD_billions
0             Switzerland          869,601
1                  Taiwan          790,728
2                  Poland          748,887
3               Argentina          641,102
4                 Belgium          624,248
5                  Sweden          599,052
6                 Ireland          594,095
7                Thailand          574,231
8                  Norway          554,105
9                  Israel          539,223
10              Singapore          515,548
11                Austria          515,199
12                Nigeria          506,601
13   United Arab Emirates          498,978
14                Vietnam          449,094
15               Malaysia          447,026
16            Philippines          440,901
17             Bangladesh          420,516
18                Denmark          405,626
19           South Africa          399,015
20              Hong Kong          382,854
21                  Egypt          378,110
22                   Iran          367,970
23                  Chile          358,557
24                Romania          348,902
25               Colombia          334,689
26         Czech Republic          330,483
27                Finland          301,670
28                   Peru          268,235
29                   Iraq          267,893
30               Portugal          267,721
31            New Zealand          251,969
32             Kazakhstan          245,695
33                 Greece          239,300
34                  Qatar          219,570
35                Algeria          206,007
36                Hungary          188,505
37                 Kuwait          164,713
38               Ethiopia          156,083
39                Ukraine          148,712
40                Morocco          138,781
41               Slovakia          127,533
42                Ecuador          121,291
43     Dominican Republic          121,289
44            Puerto Rico          120,838
45                  Kenya          118,130
46                 Angola          117,877
47                   Oman          104,902
48              Guatemala          102,309
49               Bulgaria          100,635
50                  Samoa              898
51               Dominica              681
52  São Tomé and Príncipe              625
53                  Tonga              541
54             Micronesia              456
55       Marshall Islands              291
56                  Palau              262
57               Kiribati              248
58                  Nauru              151